#header { 
    font-size:24;
    padding-top:0;
    opacity: 0.5;
    font-weight:    bold;
}

#dni { 
    font-size:      300;
    margin:         -70 0 0 0;
    padding-top:    0;
    opacity:        0.90;
    font-weight:    bold;
}

.label { 
    font-size:      20px;
    padding-top:    0;
    opacity:        0.9;
    font-weight:    bold;
    width:          50%;
}

.data { 
    font-size:      20px;
    padding-top:    0;
    opacity:        0.9;
    font-weight:    bold;
    width:          50%;
}

#datatable {
    float: left;
}
